<% content_for(:title, 'Home') %>

<%=
# Get the links for each of the different formats of video
# (This is necessary because each video is fingerprinted.
# This can't go in the controller because 'asset_url()' is
# only available within views, apparently.)
javascript_tag() do %>
  var downloads = {
    "mp4": {
      "link": "<%= asset_url("#{@desired_video.filename}.mp4") %>",
      "size": "<%= '%.2f' % (File.size(Rails.root.join('app', 'assets', 'videos', "#{@desired_video.filename}.mp4")).to_f / 2**20) %> MB"
    },
    "ogv": {
      "link": "<%= asset_url("#{@desired_video.filename}.ogv") %>",
      "size": "<%= '%.2f' % (File.size(Rails.root.join('app', 'assets', 'videos', "#{@desired_video.filename}.ogv")).to_f / 2**20) %> MB"
    },
    "webm": {
      "link": "<%= asset_url("#{@desired_video.filename}.webm") %>",
      "size": "<%= '%.2f' % (File.size(Rails.root.join('app', 'assets', 'videos', "#{@desired_video.filename}.webm")).to_f / 2**20) %> MB"
    },
    "avi": {
      "link": "<%= asset_url("#{@desired_video.filename}.avi") %>",
      "size": "<%= '%.2f' % (File.size(Rails.root.join('app', 'assets', 'videos', "#{@desired_video.filename}.avi")).to_f / 2**20) %> MB"
    }
  };
<% end %>

<div class="poster-bar">
  <div class="poster">
    <a href="/video/1">
      <%= image_tag('video_posters/1.jpg', {:alt => '1.jpg'}) %>
    </a>
  </div> <!-- .poster -->
  <div class="poster">
    <a href="/video/2">
      <%= image_tag('video_posters/2.jpg', {:alt => '2.jpg'}) %>
    </a>
  </div> <!-- .poster -->
  <div class="poster">
    <a href="/video/3">
      <%= image_tag('video_posters/3.jpg', {:alt => '3.jpg'}) %>
    </a>
  </div> <!-- .poster -->
</div> <!-- .poster-bar -->
<%=
  content_tag :video,
    :controls => 'controls',
    :width => 500,
    :preload => 'auto',
    :height => 275 do
      source_tags = tag :source, {
        'type' => 'video/ogg',
        'src' => asset_url("#{@desired_video.filename}.ogv")
      }
      source_tags += tag :source, {
        'type' => 'video/mp4',
        'src' => asset_url("#{@desired_video.filename}.mp4")
      }
      source_tags += tag :source, {
        'type' => 'video/webm',
        'src' => asset_url("#{@desired_video.filename}.webm")
      }
      source_tags += tag :source, {
        'type' => 'video/avi',
        'src' => asset_url("#{@desired_video.filename}.avi")
      }
      source_tags += content_tag 'object', {
        :type => 'application/x-shockwave-flash',
        :data => 'flashmediaelement.swf'
      } do
        param_tags = tag :param, {
          :name => 'movie',
          :value => 'flashmediaelement.swf'
        }
        param_tags += tag :param, {
          :name => 'flashvars',
          :value => 'controls=true&amp;poster=myvideo.jpg&amp;file=myvideo.mp4'
        }
        param_tags += image_tag('video_posters/1', :alt => '1.jpg')
        param_tags
      end
      source_tags
    end
%>
<p>Want a copy?</p>
<div class="download-panels">
  <div class="panel">
    <ul>
      <li>First, choose a format.</li>
      <li><a id="mp4">MP4 (H.264, MPEG AAC)</a></li>
      <li><a id="ogv">OGG (Theora, Vorbis)</a></li>
      <li><a id="webm">WebM (VP9, Vorbis)</a></li>
      <li><a id="avi">AVI (H.264, MPEG AAC)</a></li>
    </ul>
  </div> <!-- .panel -->
  <div class="panel">
    <ul>
      <li>Then choose a resolution.</li>
      <li><a>1080 × 1920, 30 FPS</a></li>
    </ul>
  </div> <!-- .panel -->
  <div class="panel">
    <ul>
      <li>Download it!</li>
      <li>
        <a id="download-link" href="<%= asset_url("#{@desired_video_links}") %>">
          <%= image_tag('DownloadIcon', alt: 'DownloadIcon') %>
          <p id="filesize-indication">« Size »</p>
        </a>
      </li>
    </ul>
  </div> <!-- .panel -->
</div> <!-- .downloads -->
