<!DOCTYPE html>
<html>
  <head>
    <title>Alexander » Final Project<%= (yield(:title).empty?) ? '' : ' » ' + yield(:title) %></title>

    <!-- Stylesheets -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= yield(:extra_stylesheets) %>

    <!-- Scripts -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= (true) ? javascript_include_tag('jquery.min.js') : '' %>
    <%= yield(:extra_scripts) %>

    <!-- CSRF Tags -->
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
